

<p class="condensed"><%=@posts.count %> <%= "post".pluralize(@posts.count) %> in mind</p>


<ul class="collection">
  <% @posts.each do |post| %>
  <li class="collection-item avatar">
    <div class="votes">
      <%= link_to upvote_post_path(post), class: "upvote", method: :put do %>
        <i class="material-icons blue-text text-lighten-2 ">favorite_border</i>
        <p class="vote-no"><%= post.get_upvotes.size %></p>
      <% end %>
    </div>
    <div class="post-wrapper">

    <span class="title "><%= link_to post.title, post, class: "post-title" %> <a href="<%= post.url %>" target="_blank" class= "new-tab"><i class="material-icons tiny">open_in_new</i></a></span>
    <p class= "post-meta"><span class="truncate"><%= post.url %></span>
      <small> submitted by <%= post.user.name %> <%= time_ago_in_words(post.created_at) %> ago. </small>
    </p>

    </div>
    <%- unless current_user.keep_posts.exists?(id: post.id) -%>
      <%= link_to keep_posts_path(post_id: post), class: "secondary-content red-text text-lighten-3", method: :post do %>
        <i class="material-icons waves-effect waves-light">bookmark_border</i>
      <% end %>
    <%- else -%>
      <%= link_to keep_post_path(post), class: "secondary-content red-text text-lighten-1", method: :delete do %>
        <i class="material-icons waves-effect waves-light">bookmark</i>
      <% end %>
    <%- end -%>

  </li>

    <% end %>
  </ul>


<%= will_paginate @posts %>
