<% comments.each do |comment| %>
  <div class="comments-show">
    <div class="comment">
      <p><%= comment.body %><br></p>
      <div class="comment-nav"><a href="#" class="comment-reply">reply</a>
        <% if can? :destroy, comment %>
          <%= link_to "delete", comment, class: "secondary-content", method: :delete, data: { confirm: "Are you sure?"} %>
        <% end %>
      </div>
      <div class="reply-form">
        <%= form_for @new_comment do |f| %>
          <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="field form-group">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= submit_tag "Reply", class: 'btn' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>

  </div>
<% end %>
