
<div class="row banner">

  <div class="col l6 m6 s12">
    <h5 class="grey-text text-darken-4">A Better Entrepreneur Everyday </h5>
    <p class="grey-text text-darken-3">Instarter is a community of learners.</p>
    <p class="grey-text text-darken-3 intro">We help organise your learning process by curating articles, lecture series & startup events around you.</p>

    <small class="grey-text text-darken-1">Membership by invitation only</small></br>
    <a href="#invite" class="btn-large green accent-4 waves-effect waves-light modal-trigger">Request an Invite</a>
  </div>

  <div class="col l6 m6 hide-on-small-only">
    <div class="content"><br>
      <%= image_tag("thumb.png", alt: "Keep", height: '100%', width: '100%')%>
    </div>
  </div>


</div></br></br>


<div class="divider"></div></br>

<div class="row">
  <div class="col s12">
    <h5 class="center-align grey-text text-darken-4">Manage Your Startup Journey</h5>
  </div>

  <div class="col s12 section"></br></br>
    <div class="col s4 center-align">
      <%= image_tag("discover.png", alt: "Discover", size: "80x70")%>
      <p class="grey-text text-darken-1">Discover articles, lectures & startup events
around you</p>
    </div>

    <div class="col s4 center-align section">
      <%= image_tag("keep.png", alt: "Keep")%>
      <p class="grey-text text-darken-1">Collect interesting content</br>
to read</p>
    </div>

    <div class="col s4 center-align">
      <%= image_tag("connect.png", alt: "Connect")%>
      <p class="grey-text text-darken-1">Connect  with people who share </br>your interest</p>
    </div>

  </div>
</div></br></br>

<div class="row">

  <div class="col s12 center-align ">
    <p class="center-align grey-text text-darken-3">Our Members Are Founders of Startups Like</p>
    <div class="col l3 m3 s6 grey-text text-darken-1">
      <p>Travel Triangle</p>
    </div>

    <div class="col l3 m3 s6 grey-text text-darken-1">
      <p>thesafarist.com</p>
    </div>

    <div class="col l3 m3 s6 grey-text text-darken-1">
      <p>Pincarts.com</p>
    </div>

    <div class="col l3 m3 s6 grey-text text-darken-1">
      <p>Advantage Club</p>
    </div>
  </div>

</div></br>


<div class="divider"></div></br></br>

<div class="row">
  <div class="col s12 center-align">
    <h5>Connect. Learn. Do.</h5>
    <p class="grey-text text-darken-1">Get Started Today</p>
    <a href="#invite" class="btn-large green accent-4 waves-effect waves-light modal-trigger">Request an Invite</a>
  </br></br></br></br></br>
  <p class="grey-text">Copyright © 2016 Instarter. All Rights Reserved.
</p>
  </div>
</div>


  <!-- Modal Structure -->
  <div id="invite" class="modal">
    <div class="modal-content">
      <h5 class="center-align" >Request An Invite</h5></br>
        <%= form_for Request.new do |f| %>

            <div class="input-field col s12">
              <i class="material-icons prefix">perm_identity</i>
              <%= f.label :your_name, 'data-error' => 'wrong', 'data-success'=> 'right' %><br>
              <%= f.text_field :name, placeholder: "eg: Elon Musk", class: "validate" %>

            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <%= f.label :your_email, 'data-error' => 'wrong', 'data-success'=> 'right' %><br>
              <%= f.email_field :email, placeholder: "eg: elon@spacex.com", class: "validate" %>

            </div>

            <div class="actions center-align">
              <%= f.submit "Invite Me!", class: "btn-large green accent-4", onclick: "Materialize.toast('*drum roll*', 6000)" %>
            </div>

        <%end%>



    </div>

  </div>
