
<p class="condensed ">Upcoming Events</p>
<div class="row">

  <% @events.each do |event| %>
    <div class="col s12 m6 l4">
          <div class="card medium">

              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="<%= event.cover_image.url %>">
              </div>

              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= link_to event.title, event.url, target: "_blank" %></span>

                <p><%= event.start_date.strftime("%^a, %e %^b %y") %></p>
              </div>

              <div class="card-action">
                <a href="<%= event.url %>" target="_blank">Get Tickets</a>
                <%- unless current_user.keep_events.exists?(id: event.id) -%>
                  <%= link_to keep_events_path(event_id: event), class: "secondary-content red-text text-lighten-3 right", method: :post do %>
                    <i class="material-icons waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Keep">bookmark_border</i>
                  <% end %>
                <%- else -%>
                  <%= link_to keep_event_path(event), class: "secondary-content red-text text-lighten-2 right", method: :delete do %>
                    <i class="material-icons waves-effect waves-light">bookmark</i>
                  <% end %>
                <%- end -%>
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= link_to event.title, event.url, class: "event-title" %><i class="material-icons right">close</i></span>
                <p><%= event.description %></p>
              </div>
            </div>

            <% if can? :destroy, @event %>
              <div class="chip">
                <%= link_to 'Delete',  event,  method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              <div class="chip">
                <%= link_to 'Edit', edit_event_path(event) %>
              </div>
            <% end %>

      </div>

  <% end %>

</div>


<% if can? :create, @event %>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light blue" href="<%= new_event_path %>"><i class="material-icons">add</i></a>
</div>
<% end %>
