<div class="row">
  <%= form_for(@post, :html=> {class: "col s12"}) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@post.errors.count, "error") %> please fix the following </p>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :title %><br>
        <%= f.text_field :title, placeholder: "Do things that don't scale" %>
      </div>

    <div class="input-field col s12">
      <%= f.label :url %><br>
      <%= f.text_field :url, placeholder: "http://paulgraham.com/ds.html" %>
    </div>


    <div class="input-field col s12">
      <%= f.select :tag_list, options_for_select(["startup","general","product", "code", "growth","visibilty", "saas", "hr", "finance", "productivity", "customer relations"]), {}, {:multiple => true, :class => "chzn-select"} %>

       <label>Select topics that apply</label>
     </div>

    <div class="input-field col s12">
      <%= f.submit class: "btn", value: "Submit Link" %>
    </div>
  </div>
  <% end %>
</div>
