
    <li class="collection-item avatar">
      <div class="votes">
        <%- unless current_user.voted_up_on?(post) -%>
          <%= link_to upvote_post_path(post), class: "upvote", method: :put do %>
            <i class="material-icons blue-text text-lighten-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Recommend">favorite_border</i>
            <p class="vote-no"><%= post.get_upvotes.size %></p>
          <% end %>
        <% else %>
          <%= link_to downvote_post_path(post), class: "upvote", method: :put do %>
            <i class="material-icons blue-text text-lighten-2">favorite</i>
            <p class="vote-no"><%= post.get_upvotes.size %></p>
          <% end %>
        <% end %>
      </div>
      <div class="post-wrapper">

      <span class="title"><%= link_to post.title, post, class: "post-title" %> <a href="<%= post.url %>" target="_blank" class= "new-tab"><i class="material-icons tiny">open_in_new</i></a></span>
      <p class= "post-meta"><span class="truncate"><%= post.url %></span>
        <small> submitted by <%= link_to post.user.name, user_profile_path(post.user) %> <%= time_ago_in_words(post.created_at) %> ago. </small>
        <small><%= render post.tags %></small>
      </p>

      </div>
      <%- unless current_user.keep_posts.exists?(id: post.id) -%>
        <%= link_to keep_posts_path(post_id: post), class: "secondary-content red-text text-lighten-3", method: :post do %>
          <i class="material-icons waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Keep">bookmark_border</i>
        <% end %>
      <%- else -%>
        <%= link_to keep_post_path(post), class: "secondary-content red-text text-lighten-1", method: :delete do %>
          <i class="material-icons waves-effect waves-light">bookmark</i>
        <% end %>
      <%- end -%>

    </li>
