
<br>
<h5>Recent Post</h5>


<ul class="collection">
  <% @posts.each do |post| %>
    <li class="collection-item avatar">
      <div class="post-wrapper">
      <i class="material-icons circle">description</i>
      <span class="title"><%= link_to post.title, post, class: "post-title" %> <a href="<%= post.url %>" target="_blank" class= "new-tab"><i class="material-icons tiny">open_in_new</i></a></span>
      <p class= "post-meta"><%= post.url %> <br>
        <small> submitted <%= time_ago_in_words(post.created_at) %> ago </small>
      </p>

      </div>
      <%- unless current_user.keep_posts.exists?(id: post.id) -%>
        <%= link_to keep_posts_path(post_id: post), class: "secondary-content red-text text-lighten-3", method: :post do %>
          <i class="material-icons waves-effect waves-light">bookmark_border</i>
        <% end %>
      <%- else -%>
        <%= link_to keep_post_path(post), class: "secondary-content red-text text-lighten-1", method: :delete do %>
          <i class="material-icons waves-effect waves-light">bookmark</i>
        <% end %>
      <%- end -%>

    </li>

    <% end %>
  </ul>
