

<p class="condensed">Discuss</p>


<ul class="collection">
    <li class="collection-item avatar">
      <div class="votes">
      <%- unless current_user.voted_up_on?(@post) -%>
        <%= link_to upvote_post_path(@post), class: "upvote", method: :put do %>
          <i class="material-icons blue-text text-lighten-2 ">favorite_border</i>
          <p class="vote-no"><%= @post.get_upvotes.size %></p>
        <% end %>
      <% else %>
        <%= link_to downvote_post_path(@post), class: "upvote", method: :put do %>
          <i class="material-icons blue-text text-lighten-2 ">favorite</i>
          <p class="vote-no"><%= @post.get_upvotes.size %></p>
        <% end %>
      <% end %>

      </div>
      <div class="post-wrapper">

      <span class="title"><%= link_to @post.title, @post.url, target: "_blank"%> </span>
      <p class= "post-meta"><span class="truncate"><%= @post.url %></span>
        <small> submitted by <%=@post.user.name %> <%= time_ago_in_words(@post.created_at) %> ago. </small>
        <small>In <%= render @post.tags %></small>
      </p>

      </div>
      <%- unless current_user.keep_posts.exists?(id: @post.id) -%>
        <%= link_to keep_posts_path(post_id: @post), class: "secondary-content red-text text-lighten-3", method: :post do %>
          <i class="material-icons waves-effect waves-light">bookmark_border</i>
        <% end %>
      <%- else -%>
        <%= link_to keep_post_path(@post), class: "secondary-content red-text text-lighten-1", method: :delete do %>
          <i class="material-icons waves-effect waves-light">bookmark</i>
        <% end %>
      <%- end -%>

    </li>


  </ul>

  <% if can? :update, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>

  <% if can? :destroy, @post %>
  | <%= link_to 'Delete',  @post,  method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <%= render partial: "comments/template", locals: {commentable: @post, new_comment: @comment} %>
