
<br>
<h5>Discuss</h5>


<ul class="collection">
    <li class="collection-item avatar">
      <div class="post-wrapper">
      <i class="material-icons circle">description</i>
      <span class="title"><%= link_to @post.title, @post.url, target: "_blank"%> </span>
      <p class= "post-meta"><%= @post.url %> <br>
        <small> submitted <%= time_ago_in_words(@post.created_at) %> ago </small>
      </p>

      </div>
      <%- unless current_user.keep_posts.exists?(id: @post.id) -%>
        <%= link_to keep_posts_path(post_id: @post), class: "secondary-content red-text text-lighten-3", method: :post do %>
          <i class="material-icons waves-effect waves-light">bookmark_border</i>
        <% end %>
      <%- else -%>
        <%= link_to keep_post_path(@post), class: "secondary-content red-text text-lighten-1", method: :delete do %>
          <i class="material-icons waves-effect waves-light">bookmark</i>
        <% end %>
      <%- end -%>

    </li>


  </ul>

<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Delete',  @post,  method: :delete, data: { confirm: 'Are you sure?' } %>
|
<%= link_to 'Back', posts_path %>
