<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Instarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- navbar start-->
<div class="navbar-fixed">
	<nav role="navigation">

    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Instarter</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">


        <% if user_signed_in? %>
          <li class=""><a href="/">Mind Palace</a></li>

          <li>
            <%= link_to 'New Post', new_post_path, class: "waves-effect waves-light btn grey" %>

          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right"><i class="material-icons">more_vert</i></i></a></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>


      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
          <li><a href="/">Mind Map</a></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %> </li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Edit", edit_user_registration_path %> </li>
  <li class="divider"></li>
  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
</ul>
<!-- End Nav -->

<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
